<header>
    <div ngClass="header-container header-left">
        <a routerLink="/">
            <p>Body Designs</p>
            <small>Tattoo &amp; Body Piercing Studio</small>
        </a>
    </div>
    <div ngClass="header-container header-right">
        <nav ngClass="header-nav">
            <ul>
                <li><a routerLink="/artists">artists</a></li>
                <span ngClass="separator">|</span>
                <li><a routerLink="/gallery">gallery</a></li>
                <span ngClass="separator">|</span>
                <li><a routerLink="/contact">contact</a></li>
            </ul>
        </nav>
    </div>
</header>