:host footer {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem 2rem;
}

:host .footer-right {
    align-items: flex-end;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}