:host footer {
    display: grid;
    height: var(--footer-height);
}

:host footer .footer-right {
    align-items: center;
    display: flex;
    font-size: 1rem;
    justify-content: center;
}

:host footer .footer-right .social-icons {
  align-items: center;
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  width: 100%;
}

@media (min-width: 1024px) {

  :host footer {
    grid-template-columns: 1fr auto;
    padding: 1rem 2rem;
  }

  :host footer .footer-right {
    align-items: flex-end;
    gap: 1rem;
    justify-content: flex-end;
  }

  :host footer .footer-right .social-icons {
    display: none;
  }

}

@media (max-width: 1024px) {

  :host {
    bottom: 0;
    left: 0;
    height: 128px;
    right: 0;
    position: fixed;
    z-index: 1000;
  }

  :host footer {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
  }

  :host footer .footer-right {
    flex-direction: column-reverse;
  }

  :host footer .footer-right small {
    display: none;
  }

}