<footer>
    <div ngClass="footer-container footer-left"></div>
    <div ngClass="footer-container footer-right">
        <small>&copy; Body Designs {{ currentYear }}</small>
        <span ngClass="separator">|</span>
        <a href="tel:+16312548288" aria-label="Call Body Designs Tattoo Studio"
            ngClass="business-phone">631-254-8288</a>
        <span ngClass="separator">|</span>
        <a href="https://www.google.com/maps/search/?api=1&query=1739+Deer+Park+Ave,+Deer+Park,+NY" target="_blank"
            rel="noopener noreferrer" aria-label="View our location on Google Maps" ngClass="business-address">Long
            Island, NY</a>
        <div ngClass="social-icons">
            <a href="https://www.instagram.com/bodydesignsli/" rel="noopener noreferrer" target="_blank"
                title="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <span ngClass="separator"><i class="fa-regular fa-window-minimize"></i></span>
            <a href="https://www.facebook.com/BodyDesigns.Tattoo.BodyPiercing" rel="noopener noreferrer" target="_blank"
                title="Facebook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <span ngClass="separator"><i class="fa-regular fa-window-minimize"></i></span>
            <a href="mailto:bdydesigns@gmail.com" title="Email">
                <i class="fa-solid fa-square-envelope"></i>
            </a>
        </div>
    </div>
</footer>