<header class="page-header">
    <h1>gallery</h1>
</header>
<section class="page-body gallery-container">
    <figure>
        <img src="assets/tara_daffodils_1.png" alt="Daffodils by Tara" />
        <figcaption>Daffodils by Tara</figcaption>
    </figure>
    <figure>
        <img src="assets/phil_mandala_1.png" alt="Mandala by Phil" />
        <figcaption>Mandala by Phil</figcaption>
    </figure>
    <figure>
        <img src="assets/jessica_nostril_piercing_1.png" alt="Nostril Piercing by Jessica" />
        <figcaption>Nostril Piercing by Jessica</figcaption>
    </figure>
    <figure>
        <img src="assets/jade_scorpion_1.png" alt="Scorpion by Jade" />
        <figcaption>Scorpion by Jade</figcaption>
    </figure>
    <figure>
        <img src="assets/tara_alice_in_wonderland_1.png" alt="Alice In Wonderland by Tara" />
        <figcaption>Alice In Wonderland by Tara</figcaption>
    </figure>
    <figure>
        <img src="assets/phil_tiger_1.png" alt="Tiger by Phil" />
        <figcaption>Tiger by Phil</figcaption>
    </figure>
    <figure>
        <img src="assets/tara_skull_flowers_mandala_1.png" alt="Mandala by Tara" />
        <figcaption>Mandala by Tara</figcaption>
    </figure>
    <figure>
        <img src="assets/jessica_ear_piercings_1.png" alt="Ear Piercings by Jessica" />
        <figcaption>Ear Piercings by Jessica</figcaption>
    </figure>
    <figure>
        <img src="assets/jade_good_boys_1.png" alt="Good Boys by Jade" />
        <figcaption>Good Boys by Jade</figcaption>
    </figure>
    <figure>
        <img src="assets/jessica_nostril_piercing_2.png" alt="Nostril Piercings by Jessica" />
        <figcaption>Nostril Piercings by Jessica</figcaption>
    </figure>
    <figure>
        <img src="assets/phil_wolves_1.png" alt="Mountain Wolves by Tara" />
        <figcaption>Mountain Wolves by Phil</figcaption>
    </figure>
    <figure>
        <img src="assets/jade_arceus_1.png" alt="Arceus by Jade" />
        <figcaption>Arceus by Jade</figcaption>
    </figure>
    <figure>
        <img src="assets/phil_octopus_1.png" alt="Octopus by Tara" />
        <figcaption>Octopus by Phil</figcaption>
    </figure>
    <figure>
        <img src="assets/jessica_navel_piercing_1.png" alt="Navel Piercing by Jessica" />
        <figcaption>Navel Piercing by Jessica</figcaption>
    </figure>
    <figure>
        <img src="assets/tara_alien_abduction_1.png" alt="Alien Abduction by Tara" />
        <figcaption>Alien Abduction by Tara</figcaption>
    </figure>
    <figure>
        <img src="assets/jade_anglerfish_1.png" alt="Anglerfish by Jade" />
        <figcaption>Anglerfish by Jade</figcaption>
    </figure>
    <figure>
        <img src="assets/phil_fallen_angel_1.png" alt="Fallen Angel by Phil" />
        <figcaption>Fallen Angel by Phil</figcaption>
    </figure>
    <figure>
        <img src="assets/jade_houndoom_1.png" alt="Houndoom by Jade" />
        <figcaption>Houndoom by Jade</figcaption>
    </figure>
    <figure>
        <img src="assets/jessica_triple_helix_piercings_1.png" alt="Triple Helix Piercings by Jessica" />
        <figcaption>Triple Helix Piercings Piercing by Jessica</figcaption>
    </figure>
    <figure>
        <img src="assets/tara_cathedral_1.png" alt="Cathedral by Tara" />
        <figcaption>Cathedral by Tara</figcaption>
    </figure>
</section>