:host {
    display: grid;
    grid-template-rows: auto 1fr;
}

:host .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
    gap: 1rem;
}

:host .gallery-container figure {
    align-items: center;
    background: rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(10px);
    border-radius: var(--default-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
}

:host .gallery-container figure figcaption {
    padding: 1rem;
    text-transform: capitalize;
}

:host .gallery-container img {
    border-radius: 8px;
    display: block;
    height: 600px;
    width: 100%;
}

@media (min-width: 1024px) {

    :host .gallery-container {
        margin-left: var(--sidebar-width);
        padding: 1rem;
    }

}

@media (max-width: 1024px) {}