<app-header></app-header>
<main>
    <div class="app-page">
        <router-outlet></router-outlet>
    </div>
    <div class="social-icons">
        <a href="https://www.instagram.com/bodydesignsli/" rel="noopener noreferrer" target="_blank" title="Instagram">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <span ngClass="separator"><i class="fa-regular fa-window-minimize"></i></span>
        <a href="https://www.facebook.com/BodyDesigns.Tattoo.BodyPiercing" rel="noopener noreferrer" target="_blank"
            title="Facebook">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
        <span ngClass="separator"><i class="fa-regular fa-window-minimize"></i></span>
        <a href="mailto:bdydesigns@gmail.com" title="Email">
            <i class="fa-solid fa-square-envelope"></i>
        </a>
    </div>
</main>
<app-footer></app-footer>