:host {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    padding-top: 100px;
}

:host main {
    border-right: 1px solid var(--accent-color-one);
    display: grid;
}

:host main .app-page {
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 1024px) {
    :host main {
        grid-template-columns: 1fr auto;
        margin: 1rem;
        padding: 1rem;
    }
}

:host main .social-icons {
    visibility: hidden;
}

@media (min-width: 1024px) {
    :host main .social-icons {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        grid-column: -1;
        justify-content: space-evenly;
        visibility: visible;
        width: 128px;
    }

    :host main .social-icons a i {
        font-size: 3rem;
    }
}