:host {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    padding-top: var(--header-height);
}

:host main {
    border-right: 1px solid var(--accent-color-one);
    border-radius: var(--default-border-radius);
    display: grid;
}

:host main .app-page {
    max-height: var(--page-body-height);
    padding-bottom: var(--footer-height);
    overflow-x: hidden;
    overflow-y: auto;
}

:host main .social-icons {
    visibility: hidden;
}

@media (min-width: 1024px) {

    :host main {
        grid-template-columns: 1fr auto;
    }

    :host main .app-page {
        padding-top: 1rem;
    }

    :host main .social-icons {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        grid-column: -1;
        justify-content: space-evenly;
        visibility: visible;
        width: 128px;
    }

    :host main .social-icons a i {
        font-size: 3rem;
    }

}