<header class="page-header">
    <h1>contact</h1>
</header>
<section class="page-body contact-container">
    <article>
        <header class="contact-article-header">
            <h2>Walk-Ins Welcome!</h2>
        </header>
        <div class="contact-article-body">
            <div class="contact-article-body-container">
                <div class="contact-info-container">
                    <h3>Hours</h3>
                    <dl>
                        <dt>Monday</dt>
                        <dd>Closed</dd>
                        <dt>Tuesday</dt>
                        <dd>Closed</dd>
                        <dt>Wednesday</dt>
                        <dd>
                            <time datetime="013:00">1:00 PM</time> –
                            <time datetime="20:00">8:00 PM</time>
                        </dd>
                        <dt>Thursday</dt>
                        <dd>
                            <time datetime="013:00">1:00 PM</time> –
                            <time datetime="20:00">8:00 PM</time>
                        </dd>
                        <dt>Friday</dt>
                        <dd>
                            <time datetime="013:00">1:00 PM</time> –
                            <time datetime="20:00">8:00 PM</time>
                        </dd>
                        <dt>Saturday</dt>
                        <dd>
                            <time datetime="013:00">1:00 PM</time> –
                            <time datetime="20:00">8:00 PM</time>
                        </dd>
                        <dt>Sunday</dt>
                        <dd>
                            <time datetime="013:00">1:00 PM</time> –
                            <time datetime="18:00">6:00 PM</time>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="contact-article-body-container">
                <div class="contact-info-container">
                    <h3>Phone Number</h3>
                    <a href="tel:+16312548288" aria-label="Call Body Designs Tattoo Studio"
                        ngClass="business-phone">631-254-8288</a>
                </div>
                <div class="contact-info-container">
                    <h3>Address</h3>
                    <app-map-link displayText="1739 Deer Park Ave, Deer Park, NY" to="1739 Deer Park Ave, Deer Park, NY"></app-map-link>
                </div>
                <div class="contact-info-container">
                    <h3>Email</h3>
                    <a href="mailto:bdydesigns@gmail.com" title="Email">
                        bdydesigns@gmail.com
                    </a>
                </div>
                <div class="contact-info-container">
                    <h3>Follow Us On Social Media</h3>
                    <div ngClass="social-icons">
                        <a href="https://www.instagram.com/bodydesignsli/" rel="noopener noreferrer" target="_blank"
                            title="Instagram">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                        <span ngClass="separator">|</span>
                        <a href="https://www.facebook.com/BodyDesigns.Tattoo.BodyPiercing" rel="noopener noreferrer"
                            target="_blank" title="Facebook">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>