:host {
    display: grid;
    grid-template-rows: auto 1fr;
}

:host .page-body {
    gap: 2rem;
}

:host .artist-container {
    border-bottom: 1px solid var(--accent-color-one);
    border-left: 1px solid var(--accent-color-one);
    border-radius: var(--default-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

:host .artist-container .artist-container-header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

:host .artist-container .artist-container-header h2 {
    line-height: 3rem;
    font-family: var(--font-accent);
    font-size: 4rem;
}

:host .artist-container .artist-container-header small {
    font-size: 1rem;
    text-transform: capitalize;
}

:host .artist-container .artist-container-header a {
    color: var(--accent-color-one);
    font-size: 1.2rem;
    width: fit-content;
}

:host .artist-container .artist-container-body {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

:host .artist-container .artist-container-body p {
    display: block;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 2rem;
}

:host .artist-container .artist-container-body .artist-image-container {
    border-right: 1px solid var(--accent-color-one);
    padding: 1rem;
}

:host .artist-container .artist-container-body img {
    border-radius: var(--default-border-radius);
    display: block;
    filter: grayscale(50%) contrast(1.33);
    height: 300px;
    transform: scaleX(-1);
    width: 300px;
}

@media (min-width: 1024px) {}

@media (max-width: 1024px) {}