:host {
    display: grid;
    grid-template-rows: auto 1fr;
}

:host header {
    align-items: center;
    display: flex;
}

:host .page-header h1 {
    color: var(--accent-color-one);
    font-family: var(--font-accent);
    font-size: 4rem;
    padding: 0 1rem;
    text-transform: capitalize;
}

:host .artists-container {
    display: grid;
    gap: 2rem;
}

:host .artists-container article {
    background: rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(10px);
    border-radius: var(--default-border-radius);
    display: grid;
    -webkit-backdrop-filter: blur(10px);
}

:host .artists-container article .artist-article-header {
    align-items: flex-start;
    border-radius: var(--default-border-radius);
    border-left: 1px solid var(--accent-color-one);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

:host .artists-container article .artist-article-header h2 {
    font-family: var(--font-accent);
    font-size: 4rem;
    line-height: 3rem;
}

:host .artists-container article .artist-article-header small {
    text-transform: capitalize;
}

:host .artists-container article .artist-article-header a {
    align-items: center;
    display: flex;
}

:host .artists-container article .artist-article-header a i {
    color: var(--accent-color-one);
    font-size: 1rem;
}

:host .artists-container article .artist-article-body {
    border-right: 1px solid var(--accent-color-one);
    border-radius: var(--default-border-radius);
    display: flex;
    padding: 2rem;
}

:host .artists-container article .artist-article-body p {
    display: flex;
    letter-spacing: .05rem;
}

:host .artists-container article img {
    border-radius: 8px;
    display: block;
    filter: grayscale(50%) contrast(1.33);
    height: 300px;
    transform: scaleX(-1);
    width: 300px;
}

@media (min-width: 1024px) {

    :host .page-header {
        align-items: center;
        bottom: 0;
        left: 0;
        top: var(--header-height);
        justify-content: center;
        position: fixed;
        text-transform: capitalize;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    :host .page-header h1 {
        bottom: 0;
        left: 0;
        padding-top: 2rem;
        position: fixed;
        top: var(--header-height);
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    :host .artists-container {
        margin-left: 128px;
        padding: 1rem;
    }

    :host .artists-container article .artist-article-body p {
        padding: 0 2rem;
    }

}

@media (max-width: 1024px) {

    :host .page-header {
        justify-content: center;
    }

    :host .page-header h1 {
        font-size: 5rem;
    }

    :host .artists-container article .artist-article-body {
        flex-direction: column-reverse;
        gap: 1rem;
    }

}