<header class="page-header">
    <h1>artists</h1>
</header>
<section class="artists-container">
    <article>
        <header class="artist-article-header">
            <h2>Tara</h2>
            <small>tattoo artist <span class="header-separator">|</span> owner <span class="header-separator">|</span>
                20+ years experience</small>
            <a href="https://www.instagram.com/misstattootara/" rel="noopener noreferrer" target="_blank"
                title="MissTattooTara Instagram">
                <i class="fa-brands fa-instagram"></i>
                &#64;misstattootara
            </a>
        </header>
        <div class="artist-article-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat, elit vitae lacinia porttitor,
                sapien erat ultricies libero, nec luctus sem enim at nisl. Donec vitae sagittis nisl. Morbi non tellus
                ac orci malesuada convallis. Aenean convallis, risus non tincidunt eleifend, nulla urna varius lacus,
                eget lobortis arcu magna ac nulla. Integer volutpat, orci nec gravida volutpat, libero risus aliquam
                lacus, ac elementum augue ligula sit amet mauris. Sed sit amet nunc nec lorem gravida vehicula. Mauris
                eget sem a elit porttitor feugiat ac vitae lacus. Nulla facilisi. Aliquam erat volutpat. In euismod
                tincidunt tincidunt. Suspendisse id felis nec ante faucibus facilisis. Duis vestibulum magna at risus
                tincidunt, eget sodales
                sem convallis. Etiam vitae libero ac ligula vehicula suscipit. Curabitur tincidunt nulla id dolor
                tincidunt, non fermentum elit feugiat. In pharetra, leo ac rutrum fermentum, nisi dolor facilisis urna,
                sed rhoncus sem sapien vitae magna. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Sed lobortis ligula eu risus malesuada, a dapibus odio malesuada.
            </p>
            <img src="assets/artists_tara.png" alt="Tara" />
        </div>
    </article>
    <article>
        <header class="artist-article-header">
            <h2>Jessica</h2>
            <small>piercer <span class="header-separator">|</span> manager <span class="header-separator">|</span> 10+
                years experience</small>
            <a href="https://www.instagram.com/jessicapokesholes/" rel="noopener noreferrer" target="_blank"
                title="JessicaPokesHoles Instagram">
                <i class="fa-brands fa-instagram"></i>
                &#64;jessicapokesholes
            </a>
        </header>
        <div class="artist-article-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat, elit vitae lacinia porttitor,
                sapien erat ultricies libero, nec luctus sem enim at nisl. Donec vitae sagittis nisl. Morbi non tellus
                ac orci malesuada convallis. Aenean convallis, risus non tincidunt eleifend, nulla urna varius lacus,
                eget lobortis arcu magna ac nulla. Integer volutpat, orci nec gravida volutpat, libero risus aliquam
                lacus, ac elementum augue ligula sit amet mauris. Sed sit amet nunc nec lorem gravida vehicula. Mauris
                eget sem a elit porttitor feugiat ac vitae lacus. Nulla facilisi. Aliquam erat volutpat. In euismod
                tincidunt tincidunt. Suspendisse id felis nec ante faucibus facilisis. Duis vestibulum magna at risus
                tincidunt, eget sodales
                sem convallis. Etiam vitae libero ac ligula vehicula suscipit. Curabitur tincidunt nulla id dolor
                tincidunt, non fermentum elit feugiat. In pharetra, leo ac rutrum fermentum, nisi dolor facilisis urna,
                sed rhoncus sem sapien vitae magna. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Sed lobortis ligula eu risus malesuada, a dapibus odio malesuada.
            </p>
            <img src="assets/artists_jessica.jpg" alt="Jessica" />
        </div>
    </article>
    <article>
        <header class="artist-article-header">
            <h2>Phil</h2>
            <small>tattoo artist <span class="header-separator">|</span> 10+
                years experience</small>
            <a href="https://www.instagram.com/blk_filip/" rel="noopener noreferrer" target="_blank"
                title="Blk Filip Instagram">
                <i class="fa-brands fa-instagram"></i>
                &#64;blk_filip
            </a>
        </header>
        <div class="artist-article-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat, elit vitae lacinia porttitor,
                sapien erat ultricies libero, nec luctus sem enim at nisl. Donec vitae sagittis nisl. Morbi non tellus
                ac orci malesuada convallis. Aenean convallis, risus non tincidunt eleifend, nulla urna varius lacus,
                eget lobortis arcu magna ac nulla. Integer volutpat, orci nec gravida volutpat, libero risus aliquam
                lacus, ac elementum augue ligula sit amet mauris. Sed sit amet nunc nec lorem gravida vehicula. Mauris
                eget sem a elit porttitor feugiat ac vitae lacus. Nulla facilisi. Aliquam erat volutpat. In euismod
                tincidunt tincidunt. Suspendisse id felis nec ante faucibus facilisis. Duis vestibulum magna at risus
                tincidunt, eget sodales
                sem convallis. Etiam vitae libero ac ligula vehicula suscipit. Curabitur tincidunt nulla id dolor
                tincidunt, non fermentum elit feugiat. In pharetra, leo ac rutrum fermentum, nisi dolor facilisis urna,
                sed rhoncus sem sapien vitae magna. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Sed lobortis ligula eu risus malesuada, a dapibus odio malesuada.
            </p>
            <img src="assets/artists_phil.png" alt="Phil" />
        </div>
    </article>
    <article>
        <header class="artist-article-header">
            <h2>Jade</h2>
            <small>tattoo artist <span class="header-separator">|</span> apprentice</small>
            <a href="https://www.instagram.com/jadextattoo/" rel="noopener noreferrer" target="_blank"
                title="JadexTattoo Instagram">
                <i class="fa-brands fa-instagram"></i>
                &#64;jadextattoo
            </a>
        </header>
        <div class="artist-article-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat, elit vitae lacinia porttitor,
                sapien erat ultricies libero, nec luctus sem enim at nisl. Donec vitae sagittis nisl. Morbi non tellus
                ac orci malesuada convallis. Aenean convallis, risus non tincidunt eleifend, nulla urna varius lacus,
                eget lobortis arcu magna ac nulla. Integer volutpat, orci nec gravida volutpat, libero risus aliquam
                lacus, ac elementum augue ligula sit amet mauris. Sed sit amet nunc nec lorem gravida vehicula. Mauris
                eget sem a elit porttitor feugiat ac vitae lacus. Nulla facilisi. Aliquam erat volutpat. In euismod
                tincidunt tincidunt. Suspendisse id felis nec ante faucibus facilisis. Duis vestibulum magna at risus
                tincidunt, eget sodales
                sem convallis. Etiam vitae libero ac ligula vehicula suscipit. Curabitur tincidunt nulla id dolor
                tincidunt, non fermentum elit feugiat. In pharetra, leo ac rutrum fermentum, nisi dolor facilisis urna,
                sed rhoncus sem sapien vitae magna. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Sed lobortis ligula eu risus malesuada, a dapibus odio malesuada.
            </p>
            <img src="assets/main_wallpaper.jpg" alt="Jade" />
        </div>
    </article>
</section>