<header class="page-header">
    <h1>artists</h1>
</header>
<section class="artists-container">
    <article>
        <header class="artist-article-header">
            <h2>Tara</h2>
            <small>tattoo artist <span class="header-separator">|</span> owner <span class="header-separator">|</span>
                20+ years experience</small>
            <a href="https://www.instagram.com/misstattootara/" rel="noopener noreferrer" target="_blank"
                title="MissTattooTara Instagram">
                <i class="fa-brands fa-instagram"></i>
                &#64;misstattootara
            </a>
        </header>
        <div class="artist-article-body">
            <p>
                Hello, I’m Tara, the proud owner of Body Designs. I have been a professional tattoo artist since 2003
                and specialize in a wide range of
                styles.
                What I value most about my work is the opportunity to create lasting art that commemorates meaningful
                moments in people’s lives.
                I look forward to collaborating with you to bring your ideas to life and helping you express your true
                self through tattooing.
            </p>
            <img src="assets/artists_tara.png" alt="Tara" />
        </div>
    </article>
    <article>
        <header class="artist-article-header">
            <h2>Jessica</h2>
            <small>piercer <span class="header-separator">|</span> manager <span class="header-separator">|</span> 10+
                years experience</small>
            <a href="https://www.instagram.com/jessicapokesholes/" rel="noopener noreferrer" target="_blank"
                title="JessicaPokesHoles Instagram">
                <i class="fa-brands fa-instagram"></i>
                &#64;jessicapokesholes
            </a>
        </header>
        <div class="artist-article-body">
            <p>
                Hello, I’m Jessica, the piercer at Body Designs. I have been a professional piercer for over 10 years.
                What I enjoy most about my work is the opportunity to connect with clients and provide a safe, positive
                experience through the art of piercing.
                I look forward to helping you express yourself with piercings you’ll love.
            </p>
            <img src="assets/artists_jessica.jpg" alt="Jessica" />
        </div>
    </article>
    <article>
        <header class="artist-article-header">
            <h2>Phil</h2>
            <small>tattoo artist <span class="header-separator">|</span> 10+
                years experience</small>
            <a href="https://www.instagram.com/blk_filip/" rel="noopener noreferrer" target="_blank"
                title="Blk Filip Instagram">
                <i class="fa-brands fa-instagram"></i>
                &#64;blk_filip
            </a>
        </header>
        <div class="artist-article-body">
            <p>
                Hello, I’m Phil, a tattoo artist at Body Designs. I began my career as a graphic designer and
                illustrator at the age of 13, working
                with clients such as Marvel and Nickelodeon.
                For over a decade, I’ve brought my artistic background, love of pop culture, and passion for lowbrow art
                into tattooing.
                Whether black and grey or full color, I enjoy transforming ideas into tattoos that come to life.
            </p>
            <img src="assets/artists_phil.png" alt="Phil" />
        </div>
    </article>
    <article>
        <header class="artist-article-header">
            <h2>Jade</h2>
            <small>tattoo artist <span class="header-separator">|</span> apprentice</small>
            <a href="https://www.instagram.com/jadextattoo/" rel="noopener noreferrer" target="_blank"
                title="JadexTattoo Instagram">
                <i class="fa-brands fa-instagram"></i>
                &#64;jadextattoo
            </a>
        </header>
        <div class="artist-article-body">
            <p>
                Hello, I’m Jade, the newest addition to Body Designs. I began my apprenticeship in September 2024 after
                graduating from Purchase College with a degree in printmaking.
                While I enjoy exploring a variety of tattoo styles, my main focus is on black and grey work.
                Outside of tattooing, I love playing video games such as <em>Bloodborne</em> and <em>Diablo</em>, and
                I’m an avid manga fan, with <em>Berserk</em> being my favorite.
            </p>
            <img src="assets/placeholder_tattoo_1.png" alt="Jade" />
        </div>
    </article>
</section>