:host {
    display: grid;
    height: 100%;
}

:host .home-container {
    margin: 1rem;
    padding: 1rem;
}

:host .home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:host .requests-container {
    align-items: center;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

@media (min-width: 1024px) {

    :host .home-left h1 {
        font-size: 6rem;
    }

}

@media (max-width: 1024px) {

    :host .home-left h1 {
        font-size: 3rem;
    }

    :host .requests-container {
        flex-direction: column;
    }

}