<section ngClass="home-container home-left">
    <h1>Art with empathy.</h1>
    <p>
        <strong>Great tattoos and piercings start with trust</strong> — that’s why we at
        <strong><em lang="en">Body Designs</em> focus on people</strong>, not just portfolios.
    </p>

    <p>
        Whether you’re coming in for your <em>first piercing</em> or a <em>full custom sleeve</em>,
        you’ll be met with
        <strong>empathy</strong>,
        <strong>cleanliness</strong>, and
        <strong>a deep respect</strong> for your personal journey.
    </p>

    <p>
        <strong>Every appointment begins with conversation</strong>,
        and <em>ends with confidence</em>.
    </p>

</section>